# Ignore datasets and outputs
datasets/
dataset/
output/

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environment
venv/
.venv/
env/

# System / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# common large files
*.zip
*.mp4
*.avi
*.mov
*.mkv
*.pt
*.pth
*.pkl
*.npy
*.npz
*.onnx
*.ckpt